<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.images = {avatar: "<%= image_url('icons8-person-64.png') %>"}
</script>

<main id="root"></main>
